<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="throw" href="/tabs/throw">
      <ion-icon name="rocket-outline"></ion-icon>
      Throw
    </ion-tab-button>

    <ion-tab-button tab="scores" href="/tabs/scores">
      <ion-icon name="podium-outline"></ion-icon>
      Scores
    </ion-tab-button>

    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon name="person-circle-outline"></ion-icon>
      User
    </ion-tab-button>
  </ion-tab-bar>

  <ion-router-outlet></ion-router-outlet>
</ion-tabs>
